h2{
    text-align: center;
    color: aliceblue;
    background-size: cover;
    text-decoration: underline;
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-indent: 4px;
    text-shadow:3px 3px 0px purple;
  
}

p{
    text-align: center;
    color:whitesmoke;
}
body{
   
   background-color: teal;
}
h1{
    color: white;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-indent: 10px;

   

}


